<div class="flex-row">
  <div class="item-left">
    <button mat-raised-button (click)="getUsers()" id="prolific_users">
      <mat-icon>update</mat-icon> Get Users
    </button>
  </div>
  <div class="item">
    <small>
      Last try: {{ lastTry }}
      <br/>
      <span *ngIf="timeUntil$ | async"> Couldn't retrieve user data, wait until {{ time }}</span>
    </small>
  </div>
</div>
<hr/>
<div class="flex-container" *ngIf="users && users.length > 0; else noData">
  <ng-container *ngFor="let user of users">
    <app-user class="item" [item]="user"></app-user>
  </ng-container>
</div>
<ng-template #noData>
  <p>Ooops! something went wrong. </p>
</ng-template>
