.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  .item {
    flex-grow: 1;
    align-self: flex-start;
    max-height: 80%;
    overflow-y: auto;
  }
}
