/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/fonts/material-icons.css";

body {
  padding: 25px;
  padding-top: 0px;
}

.error-snack-bar {
  background-color:red;
  color: black;
  font-weight: bold;
  font-size: 12px;
  opacity: 0.8;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #f1f1f1
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 25%;
}

.mat-icon {
  display: inline-flex;
  vertical-align: middle;
}


.card {
  font-size: 12px;
  text-align: left;
  min-height: 250px;
  overflow-y: auto;
  margin-bottom: 10px;
  margin-right: 5px;
}
